###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
logs/
node_modules/

###############################################################################
# Ignore these files
###############################################################################

.*
.pnp.*
.yarn/*
*.log

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.nvmrc
!.prettierrc
!.vscode
