###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
logs/
node_modules/
postgres/

###############################################################################
# Ignore these files
###############################################################################

.*
.pnp.*
.yarn/*
*.log

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.gitlab-ci.yml
!.nvmrc
!.prettierrc
!.vscode
!.yarnrc.yml
